{{ define "content"}}
<div class="post-archive">
    {{ if eq .Data.Singular "category" }}
    <p class="archive-title">分类：<span class="term-name">{{ .Data.Term }}</span> 下的文章</p>
    {{ else if eq .Data.Singular "tag" }}
    <p class="archive-title">标签：<span class="term-name">{{ .Data.Term }}</span> 下的文章</p>
    {{ end }}

    {{ range .Paginator.Pages.GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    <ul class="listing">
        {{ range .Pages }}
        <li>
            <span class="date">{{ .Date.Format "2006/01/02" }}</span>
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}

    {{ partial "paginator" . }}
</div>
{{ end }}
